html,body,div,span,h1,h2,h3,h4,h5,h6,p,img{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
html,body{width:100%;height:100%}
body{background-color:#777}
.round{border-radius:6px;-moz-border-radius:6px}
html, body {
			padding: 0;
			margin: 0;
		}
		body, div, p {
			font-family: Arial, Helvetica, Verdana;
			color: #333;
		}
		body {
			background-color: #eee;
		}
		h1 {
			font-size: 60px;
		}
		a, a:link, a:active, a:visited {
			color: black;
			text-decoration: underline;
		}
		a:hover {
			color: #9E1F63;
		}
		#intro {
			width: 580px;
			margin: 0 auto;
		}
		.wrapper {
			background-color: white;
			width: 480px;
			margin: 40px auto;
			padding: 50px;
			box-shadow: 0 0 5px #999;
		}
		.list_carousel {
			background-color: transparent;
			margin: 0px;
			width: 60px;
			position: absolute;
			top: 0px;
			height: 100%;
		}
		.list_carousel > div {
			height: 100%;
		}
		.list_carousel ul {
		    margin: 0;
			padding: 0;
			list-style: none;
			display: block;
		}
		.list_carousel li {
			overflow: hidden;
			font-size: 40px;
			color: #999;
			text-align: center;
			background-color: #eee;
			border: 5px solid #3F51B5;
			width: 50px;
			height: 50px;
			padding: 0;
			margin: 6px;
			display: block;
			float: left;
		}
		.list_carousel.responsive {
			width: auto;
			margin-left: 0;
		}
		.clearfix {
			float: none;
			clear: both;
		}
		.prev {
			float: left;
			margin-left: 10px;
		}
		.next {
			float: right;
			margin-right: 10px;
		}
		.pager {
			float: left;
			width: 300px;
			text-align: center;
		}
		.pager a {
			margin: 0 5px;
			text-decoration: none;
		}
		.pager a.selected {
			text-decoration: underline;
		}
		.timer {
			background-color: #999;
			height: 6px;
			width: 0px;
		}


        .panorama-container a{
            background-size: cover;

        }
    .panorama-container a.area.info{
        background-image: url(../images/iconos/info.gif);
    }
	
	.panorama-container a.area.imagen{
        background-image: url(../images/iconos/imagen.gif);
    }
	
	.panorama-container a.area.ver{
        background-image: url(../images/iconos/ver.gif);
    }

    .panorama-container a.area.derecha{
        background-image: url(../images/iconos/derecha.gif);
    }
    .panorama-container a.area.izquierda{
        background-image: url(../images/iconos/izquierda.gif);
    }

    .panorama-container a.area.arriba{
        background-image: url(../images/iconos/arriba.gif);
    }
	
	.panorama-container a.area.entrar{
        background-image: url(../images/iconos/entrar.gif);
    }
	
	.panorama-container a.area.salir{
        background-image: url(../images/iconos/salir.gif);
    }
	.panorama-container a.area.salirder{
        background-image: url(../images/iconos/salirder.gif);
    }
	.panorama-container a.area.salirizq{
        background-image: url(../images/iconos/salirizq.gif);
    }
	.panorama-container a.area.salirabajo{
        background-image: url(../images/iconos/salirabajo.gif);
    }
	
	.panorama-container a.area.flecha{
        background-image: url(../images/iconos/flecha.gif);
    }
	
	.panorama-container a.area.mapa{
        background-image: url(../images/iconos/mapa.gif);
    }

    .panorama-container a.area.mapa.active{
            background-image: url(../images/iconos/mapaactive.gif);
        }
	
	/*for hint*/
	.panorama-view .area {
    overflow: visible !important;
    text-indent: 0px !important;
}
.hint--bottom:after, .hint--bottom:before {
    /*top: 70% !important;
    left: 50%;*/
}
.hint--always:after, .hint--always:before {
    opacity: 0.8 !important;
    visibility: visible;
}
[class*=hint--]:after {
    background: #383838;
    color: #fff;
    padding: 3px 5px !important;
	}
	
	/*hint mini*/
	.list_carousel li {
    overflow: inherit;
    }
	/*3F51B5;*/
	#foo2 .hint--always.hint--bottom:before {
		visibility: hidden;
	}
	#foo2 .hint--bottom:after, #foo2 .hint--bottom:before {
		top: 55% !important;
		left: 50%;
		box-shadow: 4px 4px 8px rgba(0,0,0,0);
		padding: 1px 5px !important;
	}
	#foo2 [class*=hint--]:after {
		opacity: 1 !important;
		background: #3F51B5;
	}
	
	/*
	#foo2 .int.fac{
		border-color: #e41f26 ;
	}
	#foo2 .int.fac [class*="hint--"]::after {
		background: #e41f26;
	}
	
	#foo2 .int{
		border-color: #a34834 ;
	}
	#foo2 .int [class*="hint--"]::after {
		background: #a34834;
	}
	*/

	
	/*sueltas*/
	.panorama-container a.area.imgs1{
        background-image: url("../slider/img/valla.jpg");
    }

	.panorama-container a.area.imgs2{
        background-image: url("../slider/img/marta.jpg");
    }
	
	.panorama-container a.area.imgs3{
        background-image: url("../slider/img/rectorado.jpg");
    }
	.panorama-container a.area.imgs4{
        background-image: url("../slider/img/policlinico.jpg");
    }
	.panorama-container a.area.imgs5{
        background-image: url("../slider/img/relaciones internacionales.jpg");
    }
	.panorama-container a.area.imgs6{
        background-image: url("../slider/img/Sala 35 aniversario.jpg");
    }
	.panorama-container a.area.imgs7{
        background-image: url("../slider/img/Recursos humanos.jpg");
    }
	
	.panorama-container a.area.imgs8{
        background-image: url("../slider/img/construccion/panaderia.jpg");
    }
	
	
	/*agropecuaria*/
	.panorama-container a.area.imga1{
        background-image: url("../slider/img/agropecuaria/ceed.jpg");
    }
	.panorama-container a.area.imga2{
        background-image: url("../slider/img/agropecuaria/comedorcamilito.jpg");
    }
	.panorama-container a.area.imga3{
        background-image: url("../slider/img/agropecuaria/hotelito.jpg");
    }
	
	.panorama-container a.area.imga4{
        background-image: url("../slider/img/agropecuaria/IBP.jpg");
    }
	.panorama-container a.area.imga5{
        background-image: url("../slider/img/agropecuaria/Residencia Estudiantil Camilito.jpg");
    }
	.panorama-container a.area.imga6{
        background-image: url("../slider/img/agropecuaria/hotelito.jpg");
    }
	
	/*areas deportivas*/
	.panorama-container a.area.imgad1{
        background-image: url("../slider/img/areasdeportivas/SEDER.jpg");
    }
	.panorama-container a.area.imgad2{
        background-image: url("../slider/img/areasdeportivas/SEDER piscina.jpg");
    }
	.panorama-container a.area.imgad3{
        background-image: url("../slider/img/areasdeportivas/areasdeportivas.jpg");
    }
	
	.panorama-container a.area.imgad4{
        background-image: url("../slider/img/areasdeportivas/criollos1.jpg");
    }
	.panorama-container a.area.imgad5{
        background-image: url("../slider/img/areasdeportivas/criollos2.jpg");
    }
	.panorama-container a.area.imgad6{
        background-image: url("../slider/img/areasdeportivas/criollos3.jpg");
    }
	
	.panorama-container a.area.imgad7{
        background-image: url("../slider/img/areasdeportivas/criollos4.jpg");
    }
	.panorama-container a.area.imgad8{
        background-image: url("../slider/img/construccion/panaderia.jpg");
    }
	
	/*cbq*/
	.panorama-container a.area.imgcbq1{
        background-image: url("../slider/img/cbq/CBQ.jpg");
    }
	
	.panorama-container a.area.imgcbq2{
        background-image: url("../slider/img/cbq/CBQ planta de produccion.jpg");
    }
	.panorama-container a.area.imgcbq3{
        background-image: url("../slider/img/agropecuaria/comedorcamilito.jpg");
    }
	
	/*cei*/
	.panorama-container a.area.imgcei1{
        background-image: url("../slider/img/cei/CEI.jpg");
    }
	
	.panorama-container a.area.imgcei2{
        background-image: url("../slider/img/cei/CEI-int.jpg");
    }
	
	/*fac construcciones*/
	.panorama-container a.area.imgfc1{
        background-image: url("../slider/img/construccion/Construcciones.jpg");
    }
	.panorama-container a.area.imgfc2{
        background-image: url("../slider/img/construccion/Construcciones1.jpg");
    }
	
	.panorama-container a.area.imgfc3{
        background-image: url("../slider/img/construccion/Construcciones2.jpg");
    }
	.panorama-container a.area.imgfc4{
        background-image: url("../slider/img/construccion/comedorcamilito.jpg");
    }
	
	/*coronado*/
	.panorama-container a.area.imgb1{
        background-image: url("../slider/img/coronado/coronado1.jpg");
    }
	.panorama-container a.area.imgb2{
        background-image: url("../slider/img/coronado/coronado2.jpg");
    }
	.panorama-container a.area.imgb3{
        background-image: url("../slider/img/coronado/coronado4.jpg");
    }
	
	.panorama-container a.area.imgb4{
        background-image: url("../slider/img/coronado/coronado5.jpg");
    }
	
	/*economia*/
	.panorama-container a.area.imgfce1{
        background-image: url("../slider/img/economia/Ciencias Economicas.jpg");
    }
	.panorama-container a.area.imgfce2{
        background-image: url("../slider/img/economia/Ciencias Economicas1.jpg");
    }
	
	.panorama-container a.area.imgfce3{
        background-image: url("../slider/img/economia/Ciencias Economicas2.jpg");
    }
	.panorama-container a.area.imgfce4{
        background-image: url("../slider/img/agropecuaria/comedorcamilito.jpg");
    }
	
	/*electrica*/
	.panorama-container a.area.imgfie1{
            background-image: url("../slider/img/electrica/Electrica.jpg");
        }

	.panorama-container a.area.imgfie2{
        background-image: url("../slider/img/electrica/elect1.jpg");
    }
	
	.panorama-container a.area.imgfie3{
        background-image: url("../slider/img/electrica/elect2.jpg");
    }
	.panorama-container a.area.imgfie4{
        background-image: url("../slider/img/electrica/elect3.jpg");
    }
	.panorama-container a.area.imgfie5{
        background-image: url("../slider/img/electrica/FIE Grupo automatizacion, robotica y persepcion.jpg");
    }
	.panorama-container a.area.imgfie6{
        background-image: url("../slider/img/electrica/FIE Laboratorio de electronica analogica.jpg");
    }

	.panorama-container a.area.imgfie7{
        background-image: url("../slider/img/electrica/comedorcamilito.jpg");
    }
	
	/*quimica*/
	.panorama-container a.area.imgfqf1{
        background-image: url("../slider/img/farmacia/Quimica-Farmacia.jpg");
    }
	
	.panorama-container a.area.imgfqf2{
        background-image: url("../slider/img/farmacia/Quimica farmacia laboratorio.jpg");
    }
	.panorama-container a.area.imgfqf3{
        background-image: url("../slider/img/farmacia/comedorcamilito.jpg");
    }
	
	/*feu*/
	.panorama-container a.area.imgfeu1{
        background-image: url("../slider/img/feu/Casa del Estudiante.jpg");
    }
	.panorama-container a.area.imgfeu2{
        background-image: url("../slider/img/feu/Casa estudiante 1.jpg");
    }
	.panorama-container a.area.imgfeu3{
        background-image: url("../slider/img/feu/Casa estudiante 2.jpg");
    }
	.panorama-container a.area.imgfeu4{
        background-image: url("../slider/img/feu/feu2.jpg");
    }
	.panorama-container a.area.imgfeu5{
        background-image: url("../slider/img/feu/feu3.jpg");
    }
	.panorama-container a.area.imgfeu6{
        background-image: url("../slider/img/feu/feu4.jpg");
    }
	.panorama-container a.area.imgfeu7{
        background-image: url("../slider/img/feu/hotelito.jpg");
    }
	
	/*humanidades*/
	.panorama-container a.area.imgfh1{
        background-image: url("../slider/img/humanidades/Ciencias Sociales.jpg");
    }
	.panorama-container a.area.imgfh2{
        background-image: url("../slider/img/humanidades/CentroEstudiosComunitarios.jpg");
    }
	.panorama-container a.area.imgfh3{
        background-image: url("../slider/img/humanidades/hum1.jpg");
    }
	.panorama-container a.area.imgfh4{
        background-image: url("../slider/img/humanidades/hum2.jpg");
    }
	
	.panorama-container a.area.imgfh5{
        background-image: url("../slider/img/humanidades/hum4.jpg");
    }
	.panorama-container a.area.imgfh6{
        background-image: url("../slider/img/humanidades/Humanidades.jpg");
    }
	.panorama-container a.area.imgfh7{
        background-image: url("../slider/img/humanidades/soc1.jpg");
    }
	
	.panorama-container a.area.imgfh8{
        background-image: url("../slider/img/humanidades/soc2.jpg");
    }
	.panorama-container a.area.imgfh9{
        background-image: url("../slider/img/humanidades/soc3.jpg");
    }
	.panorama-container a.area.imgfh10{
        background-image: url("../slider/img/humanidades/hotelito.jpg");
    }
	
	/*jardin*/
	.panorama-container a.area.imgj1{
        background-image: url("../slider/img/jardin/cejb1.jpg");
    }
	.panorama-container a.area.imgj2{
        background-image: url("../slider/img/jardin/cejb2.jpg");
    }
	.panorama-container a.area.imgj3{
        background-image: url("../slider/img/jardin/cejb3.jpg");
    }
	
	.panorama-container a.area.imgj4{
        background-image: url("../slider/img/jardin/cejb4.jpg");
    }
	.panorama-container a.area.imgj5{
        background-image: url("../slider/img/jardin/arbolsalchicha.jpg");
    }
	.panorama-container a.area.imgj6{
        background-image: url("../slider/img/jardin/bambu.jpg");
    }
	
	.panorama-container a.area.imgj7{
        background-image: url("../slider/img/jardin/boladecannon.jpg");
    }
	.panorama-container a.area.imgj8{
        background-image: url("../slider/img/jardin/cartel.jpg");
    }
	.panorama-container a.area.imgj9{
        background-image: url("../slider/img/jardin/ceiba.jpg");
    }
	
	.panorama-container a.area.imgj10{
        background-image: url("../slider/img/jardin/florbrasilenna.jpg");
    }
	.panorama-container a.area.imgj11{
        background-image: url("../slider/img/jardin/florbrasilenna.jpg");
    }
	.panorama-container a.area.imgj12{
        background-image: url("../slider/img/jardin/florguinea.jpg");
    }
	
	.panorama-container a.area.imgj13{
        background-image: url("../slider/img/jardin/pino.jpg");
    }
	.panorama-container a.area.imgj14{
        background-image: url("../slider/img/jardin/puentebambu.jpg");
    }
	.panorama-container a.area.imgj15{
        background-image: url("../slider/img/jardin/trepadora.jpg");
    }
	
	/*mecaninca*/
		.panorama-container a.area.imgfimi1{
            background-image: url("../slider/img/mecanica/Mecanica e Industrial.jpg");
        }

        	.panorama-container a.area.imgfimi2{
                background-image: url("../slider/img/mecanica/mecanica1.jpg");
            }
	.panorama-container a.area.imgfimi3{
        background-image: url("../slider/img/mecanica/Mecanica CISoldadura.jpg");
    }

	.panorama-container a.area.imgfimi4{
        background-image: url("../slider/img/mecanica/Mecanica Lab hidraulica.jpg");
    }
	
	.panorama-container a.area.imgfimi5{
        background-image: url("../slider/img/mecanica/Mecanica metrologia.jpg");
    }
	.panorama-container a.area.imgfimi6{
        background-image: url("../slider/img/mecanica/Mecanica Talleres.jpg");
    }
	.panorama-container a.area.imgfimi7{
        background-image: url("../slider/img/mecanica/taller de fundicion.jpg");
    }
	
	.panorama-container a.area.imgfimi8{
        background-image: url("../slider/img/mecanica/taller de motor2.jpg");
    }

	
	
	/*mfc*/
	.panorama-container a.area.imgmfc1{
        background-image: url("../slider/img/mfc/Mat Fis y Comp.jpg");
    }
	.panorama-container a.area.imgmfc2{
        background-image: url("../slider/img/mfc/MFC ACM.jpg");
    }
	.panorama-container a.area.imgmfc3{
        background-image: url("../slider/img/mfc/MFC ACM1.jpg");
    }
	.panorama-container a.area.imgmfc4{
        background-image: url("../slider/img/mfc/MFC Lab computacion.jpg");
    }
	.panorama-container a.area.imgmfc5{
        background-image: url("../slider/img/mfc/MFC lab electromagnetismo.jpg");
    }
	.panorama-container a.area.imgmfc6{
        background-image: url("../slider/img/mfc/MFC lab electromagnetismo1.jpg");
    }
	.panorama-container a.area.imgmfc7{
        background-image: url("../slider/img/mfc/MFC lab electromagnetismo1.jpg");
    }
	
	/*sala historia*/
	.panorama-container a.area.imgsh1{
        background-image: url("../slider/img/salahistoria/saladehistoria1.jpg");
    }
	.panorama-container a.area.imgsh2{
        background-image: url("../slider/img/salahistoria/saladehistoria2.jpg");
    }
	.panorama-container a.area.imgsh3{
        background-image: url("../slider/img/salahistoria/saladehistoria3.jpg");
    }
	
	/*teatro*/
	.panorama-container a.area.imgt1{
        background-image: url("../slider/img/teatro/teatro1.jpg");
    }
	.panorama-container a.area.imgt2{
        background-image: url("../slider/img/teatro/teatro2.jpg");
    }
	.panorama-container a.area.imgt3{
        background-image: url("../slider/img/teatro/teatro3.jpg");
    }
	
	.panorama-container a.area.imgt4{
        background-image: url("../slider/img/teatro/teatro4.jpg");
    }
	.panorama-container a.area.imgt5{
        background-image: url("../slider/img/teatro/teatro5.jpg");
    }
	.panorama-container a.area.imgt6{
        background-image: url("../slider/img/teatro/ceiba.jpg");
    }
	
	/*finales*/
	.panorama-container a.area.imgf1{
        background-image: url("../slider/img/Becas900.jpg");
    }
		.panorama-container a.area.imgf2{
        background-image: url("../slider/img/tarjah.jpg");
    }
	
	